.carousel-wrapper {
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #5110e9;
}

.owl-carousel .item {
  text-align: center;
}
.owl-carousel .nav-button {
  height: 50px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 110px !important;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.owl-carousel .owl-prev {
  left: -75px;
  top: 130px !important;
  color: #2c2c2c !important;
  font-size: 20px !important;
  border: #2c2c2c 2px solid !important;
  /* margin: 5px; */
  /* padding: 4px 7px; */
  background: #fff !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 85px !important;
  width: 50px;
  line-height: 40px !important;
}
.owl-carousel .owl-next {
  right: -75px;
  top: 130px !important;
  color: #2c2c2c !important;
  font-size: 20px !important;
  border: #2c2c2c 2px solid !important;
  /* margin: 5px; */
  /* padding: 4px 7px; */
  background: #fff !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 85px !important;
  width: 50px;
  line-height: 40px !important;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #ffffff;
  font-size: 39px;
  background: #000000;
  border-radius: 3px;
}
.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

.product .card {
  border: none !important;
}

.product h4{
    font-family: "Open Sans", sans-serif;
}

.product h2{
    text-align: left;
    font-family: "Open Sans", sans-serif;

}


@media (min-width: 768px) {
  .full-width-row {
    width: 1366px;
    /* margin-left: 0;
    margin-right: 0; */
  }

  .pr{
    text-align: center !important;
    font-size: 60px !important;
    font-weight: 400 !important;
  }

}

.pr{
  text-align: center !important;
}

